@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap')

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.parte1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.parte1-cima {
    font-family: 'Sarala', sans-serif;
    color: black;
    font-size: 20px;
}

.parte1-baixo {
    font-family: 'Sarala', sans-serif;
    color: black;
    font-size: 18px;
}

.parte2 {
    margin-bottom: 20px;
    border-top: 0.5px solid rgb(22, 19, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
}

.pergunta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.opcao1 {
    font-family: 'Sarala', sans-serif;
    color: black;
    font-size: 10px;
}

.opcao2 {
    font-family: 'Sarala', sans-serif;
    color: black;
    font-size: 10px; 
}

.opcao3 {
    font-family: 'Sarala', sans-serif;
    color: black;
    font-size: 10px;
}

.parte3 {
    padding: 50px;
    border-top: 0.5px solid black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.botao {
    background-color: rgb(25, 25, 32);
    width: 180px;
    height: 60px;
    border-radius: 10px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: black;
}